<body>
    <div class='brand'>
        <a href='https://twitch.tv' target='_blank'>
            <img src='https://twitch.tv/favicon.ico'>
        </a>
    </div>
    <!-- <div class='langs'>
        <p>
            <a href='#'><img src='https://image.flaticon.com/icons/svg/555/555451.svg'></a>
        </p>
        <p>
            <a href='#'><img src='https://image.flaticon.com/icons/svg/555/555417.svg'></a>
        </p>
    </div> -->
    <div class='login'>
        <div class='login_title'>
            <h3>tg.KryaBot</h3>
        </div>
        <router-outlet></router-outlet>
        <div class='disclaimer'>
            <p>This website is used to authorise users and grant access to streamer Telegram chat!</p>
        </div>
    </div>
    <div class='love'>
        <p>Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by KryaBot</p>
    </div>
</body>

